.statBlock {
	text-align: left;
	margin: 20px;
	display: inline-block;
	vertical-align: top;
	max-width:700px;
	min-width:280px;
	background: #FDF1DC;
	padding: 5px 10px 5px;
	box-shadow: 0 0 1.5em #867453;
	font-size: 16px;
}

.statBlock h1{
	font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
	color: #922610;
	font-size: 23px;
	line-height: 1.2em;
	margin: 10px 0 0;
	letter-spacing: 1px;
	font-variant: small-caps;
	font-weight: bold;
}
.statBlock h2{
	font-weight: normal;
	font-style: italic;
	font-size: 0.75em;
	line-height: 1.2em;
	margin: 0 0 10px;
}
.statBlock h3{
	color: #7A200D;
	font-size: 1.5em;
	line-height: 1.2em;
	margin: 1em 0 0.25em;
	border-bottom: 1px solid #922610;
}
.statBlock h4{
	clear: left;
	color: #7A200D;
	margin-right: 0.5em;
}

.statBlock h4,
.statBlock p {
	display: block;
	float: left;
	line-height: 1.6em;
}

.statBlock hr {
	margin: 0.5em 0;
	clear:both;
	border: 2.5px solid #922610;
}

.statBlock li {
	padding: 0.5em 0;
}

.statBlock table {
	width: 100%;
	text-align: center;
	color: #922610;
	grid: ;
}

.statBlock td {
	grid-column: 1/6;
}

.statBlock .orangeBorder{
	display: block;
	background: #E69A28;
	border: 1px solid #000;
	height: 5px;
	padding: 0 10px 0;
	margin: -10px -10px -5px;
	box-sizing: initial;
}

.statBlock .orange-border.bottom{
	margin: 15px -10px -20px;
}